
<h1>Edit Profile</h1>

<div class="img">
  <img />
  <input [(ngModel)]="img" type="file"/>
</div>
<div class="inputwrap">
  <label> Change username:
    <input [(ngModel)]="username" placeholder="Change username">
    <button (click)="confirmChangesUsername()">
      Confirm
    </button>
  </label>
  <label> Change password:
    <input type="password" [(ngModel)]="oldpassword" placeholder="Old password">
    <input type="password" [(ngModel)]="password" placeholder="Confirm password">
    <input type="password" [(ngModel)]="passwordconf" placeholder="Confirm password">
    <button (click)="confirmChangesPass()">
      Confirm
    </button>
  </label>
  <a (click)="delete()"></a>

</div>
