<div class="leftTab" *ngIf="isAuth">
  <div class="leftSep"></div>
  <a class="leftLink" href="/search">Search</a>
  <div class="leftSep"></div>
  <a class="leftLink">Your music</a>
  <a class="leftLink" href="/discover">Discover</a>
  <div class="leftSep"></div>

  <div class="bottom">
    <a class="yourname" (click)="logout()"><div class="profile">Logout</div></a>
  <div class="leftSep"></div>
   <a class="yourname" href="/profile"><div class="profile">Kultainen</div></a>
  </div>
</div>
<div class="wrapper" [ngClass]="{'smaller': isAuth}">
<router-outlet></router-outlet>
</div>
<div class="bottomPlayer" *ngIf="isAuth"></div>
