.wrapper {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#382126+0,0c2328+100 */
  background: -moz-linear-gradient(45deg, rgba(0,0,0,0) 0%, #0c2328 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, rgba(0,0,0,0) 0%,#0c2328 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, rgba(0,0,0,0) 0%,#0c2328 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(0,0,0,0)', endColorstr='#0c2328',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  background-color: #382126; /* Old browsers */

  transition: background-color 0.5s ease;

}

.wrapper.red {
  background-color: #382126;
}

.wrapper.yellow {;
  background-color: #8f9070;
}
.wrapper.blue {
  background-color: #7482ab;
}


.wrapper.smaller {
  left: 200px;
  width: calc(100% - 200px);
  min-height: calc(100% - 92px);
  height: calc(100% - 92px);
  overflow: auto;
}

.bottomPlayer {
  position: fixed;
  width: 100%;
  height: 92px;
  display: block;
  background: #23232c;
  z-index: 5;
  bottom: 0px;
}

.leftTab {
  position: fixed;
  height: calc(100% - 92px);
  width: 200px;
  padding-top: 100px;
  display: block;
  background: #150c0e;
  z-index: 5;
}

.leftTab a {
  color: grey;
  width: 100%;
  font-size: 16px;
  position: relative;
  display: block;
  height: 40px;
  line-height: 40px;
  text-align: left;
  padding-left: 25px;
  cursor: pointer;
}

.leftTab a.currPlaylist {
  line-height: 30px;
  height: 40px;
  margin-top: 20px;
  color: white;
  text-align: center;
  padding-left: 0;
  width: 190px;
}

.leftTab a.currPlaylist span  {
  color: grey;
}

.leftSep {
  width: calc(100% - 40px);
  margin: 10px 20px;
  border-bottom: 1px solid grey;
}

.bottom {
  bottom: 0;
  position: absolute;
  width: 100%;
  margin-bottom: 10px;
}

.errorWrapper {
  display: block;
  position: absolute;
  bottom: 10px;
  right: 20px;
}

.error {
  background: #fd4343;
  padding: 20px 30px;
  /* font-size: 18px; */
  width: 470px;
  text-align: left;
  display: block;
  position: relative;
  margin-bottom: 10px;
  cursor: pointer;
  overflow: hidden;
  transition: opacity 0.2s, margin-bottom 0.2s ease-out;
}

.error.trans {
  opacity: 0;
  margin-bottom: 40px;
  pointer-events: none;
}
.error.closing {
  font-size: 0px;
  padding: 0px 30px;
  opacity: 0;
  margin-bottom: 0px;
  pointer-events: none;
  transition: font-size 0.2s 0.2s ease, padding 0.2s 0.2s ease, margin-bottom 0.2s 0.2s ease, opacity 0.2s;
}

.error.closing .errorMsg, .error.closing .close {
  font-size: 0px;
  transition: font-size 0.2s 0.2s ease;
}

.errorMsg {
  display: inline-block;
  width: calc(100% - 30px);
  font-size: 18px;
  color: white;
}

.close {
  display: inline-block;
  width: 30px;
  font-size: 18px;
  text-align: right;
  vertical-align: top;
}

.player {
  width: 600px;
}
