<div class="playlistInfos" *ngIf="playlist">
  <div class="playlistInfosWrapper">
    <h1>{{ playlist.title }}</h1>
    <p>{{ playlist.tracks.length }} song - {{ playlist.contributors.length }} contributors</p>
    <a *ngIf="owner" href="/user/{{owner.id}}">{{owner.username}}</a>
  </div>
  <div class="imgp" *ngIf="owner" >
    <div *ngIf="owner.pic" [style.backgroundImage]="'url('+ owner.pic +')'"> </div>
  </div>
</div>

<div class="MultipleTabs">
  <div class="tab1 tabbutton" [ngClass]="{'active': tab == 1}" (click)="selectTab(1)">Songs</div>
  <div class="tab2 tabbutton" [ngClass]="{'active': tab == 2}" (click)="selectTab(2)">Contributors</div>
  <div class="tab1 tabbutton right" [ngClass]="{'active': tab == 3}" (click)="selectTab(3)">Add songs</div>
  <div class="tab2 tabbutton right" [ngClass]="{'active': tab == 4}" (click)="selectTab(4)">Add people</div>
</div>
<div class="tabs">
  <div class="tab" [ngClass]="{'active': tab == 1}">
    <div class="songList smallList" *ngIf="playlist">
          <div class="song" *ngFor="let track of tracks; let i = index" (mouseover)="over($event)" [ngClass]="{'moving': movid === track.id}" [ngStyle]="style" (mousemove)="move($event)">
            <div class="nbr" *ngIf="track.title">{{i + 1}}</div>
            <div class="rest" *ngIf="track.title">
              <div class="songTitle">{{track.title}}</div>
              <div class="time">{{track.duration * 1000 | date:'m:ss'}}</div>
              <div class="songInfo">{{track.artist.name}} - {{ track.album.title }}</div>
            </div>
            <div class="moveSong" (mousedown)="moveTrack($event, track.id, i)" (mouseup)="releaseTrack($event)" *ngIf="track.title">=</div>
            <div class="removeSong" (click)="removeTrack(track.id)" *ngIf="track.title">-</div>
          </div>
    </div>
        <!--div class="songList smallList">
          <div class="song">
            <div class="nbr">1</div>
            <div class="rest">
              <div class="songTitle">Fury of the stromae</div>
              <div class="time">2:42</div>
              <div class="songInfo">Dragon force - live of Japan</div>
            </div>
          </div>
          <div class="song">
            <div class="nbr">2</div>
            <div class="rest">
            <div class="songTitle">Throught the fire and flame of lol</div>
            <div class="time">2:42</div>
            <div class="songInfo">Dragon force - live of Japan</div>
            </div>
          </div>
          <div class="song">
            <div class="nbr">3</div>
            <div class="rest">
            <div class="songTitle">4 seasons of dragon</div>
            <div class="time">2:42</div>
            <div class="songInfo">Dragon force - live of Japan</div>
            </div>
          </div>
          <div class="song">
            <div class="nbr">4</div>
            <div class="rest">
            <div class="songTitle">more humans than lol players</div>
            <div class="time">2:42</div>
            <div class="songInfo">Dragon force - live of Japan</div>
            </div>
          </div>
          <div class="song">
            <div class="nbr">5</div>
            <div class="rest">
            <div class="songTitle">Lets rip some powerless noobs</div>
            <div class="time">2:42</div>
            <div class="songInfo">Dragon force - live of Japan</div>
            </div>
          </div>
          <div class="song">
            <div class="nbr">6</div>
            <div class="rest">
            <div class="songTitle">Before i was young, i was younger</div>
            <div class="time">2:42</div>
            <div class="songInfo">Dragon force - live of Japan</div>
            </div>
          </div>
        </div-->
  </div>
  <div class="tab" [ngClass]="{'active': tab == 2}">
    <div class="somePeopleList smallList">

      <a class="people square" *ngFor="let Contributor of contributors"  (click)="removeContributor(Contributor.id)">
        <div class="minus">-</div>
        <div class="img" [style.backgroundImage]="'url('+ Contributor.pic +')'">
          <div class="subtitle">{{Contributor.username}}</div>
        </div>
      </a>

    </div>
  </div>
  <div class="tab" [ngClass]="{'active': tab == 3}" >
    <app-search [isSubpar]="true" (addedTrack)="addTrack($event)" (changeListen)="subchangeListen($event)" (activate)='onActivate($event)'></app-search>
  </div>
  <div class="tab" [ngClass]="{'active': tab == 4}">
    <app-search [cust]="custDrop" [isSubpar]="true" (addContributor)="addContributor($event)"  (changeListen)="subchangeListen($event)" (activate)='onActivate($event)'></app-search>
  </div>
</div>
