
<div class="smallify">
<div class="img">
  <div *ngIf="picURL" class="preview" [ngStyle]="{'background-image': picURL}"></div>
  <div class="overlay">change picture</div>
  <input [(ngModel)]="img" type="text" (change)="imgChange($event)"/>
</div>

<h1 *ngIf="me && me.username">{{ me.username }}</h1>

<div class="inputwrap">
  <label> Change password
  </label>
    <input type="password" [(ngModel)]="oldpassword" placeholder="Old password">
    <input type="password" [(ngModel)]="newpassword" placeholder="New password">
    <input type="password" [(ngModel)]="confirmpassword" placeholder="Confirm password">
    <button (click)="confirmChangesPass()">
      Confirm
    </button>
  <a (click)="delete()"></a>
</div>


<div class="inputwrap deezer">
  <label> Link with
  </label>
  <img src="/assets/img/deezerLogo.png">
</div>


<div class="inputwrap">
  <label> Change username
  </label>
    <input [(ngModel)]="newusername" placeholder="Change username">
    <button (click)="confirmChangesUsername()">
      Confirm
    </button>
</div>

<div class="inputwrap">
  <label> Delete account
  </label>
    <input [(ngModel)]="confirmdelete" placeholder='write "delete it please" to confirm'>
    <button (click)="confirmDeleteAccount()">
      Confirm
    </button>
</div>
</div>
