<div class="searchInput" [ngClass]="{'sub': isSubpar === true}">
  <input [(ngModel)]="searchword" placeholder="Search" (keyup)="search($event)">
  <div class="dropdown" [ngClass]="{'closed': close == true}" *ngIf="!isSubpar">
    <div class="chosen">{{drop}}</div>
    <div class="rollout">
      <div [ngClass]="{'hidden': dropbelow == 'Tracks'}" (click)="setdrop('Tracks')">Tracks</div>
      <div [ngClass]="{'hidden': dropbelow == 'Artists'}" (click)="setdrop('Artists')">Artists</div>
      <div [ngClass]="{'hidden': dropbelow == 'Albums'}" (click)="setdrop('Albums')">Albums</div>
      <div [ngClass]="{'hidden': dropbelow == 'Events'}" (click)="setdrop('Events')">Events</div>
      <div [ngClass]="{'hidden': dropbelow == 'Playlists'}" (click)="setdrop('Playlists')">Playlists</div>
      <div [ngClass]="{'hidden': dropbelow == 'People'}" (click)="setdrop('People')">People</div>
    </div>
  </div>
</div>
<div class="searchResult" [ngClass]="{'sub': isSubpar === true}">
  <div class="someevents line" *ngIf="eventsRes.length">
    <div class="someEventsList smallList">
      <a class="event square" *ngFor="let event of eventsRes | filterEvents: filterstr" href="/playlist/{{event.id}}">
        <div class="img">
          <div class="subtitle">
            {{ event.title }}
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="someplaylists line" *ngIf="playlistsRes.length">
    <div class="somePlaylistsList smallList">
      <a class="event square" *ngFor="let playlist of playlistsRes | filterPlaylist: filterstr" href="/playlist/{{playlist.id}}">
        <div class="img">
          <div class="subtitle">
            {{ playlist.title }}
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="somepeople line" *ngIf="peopleRes.length">
    <div class="somePeopleList smallList">

      <a class="people square" (click)="addFriend(guy.id)" *ngFor="let guy of peopleRes | filterPeople: filterstr">
        <div class="plus">+</div>
        <div class="img" [style.backgroundImage]="'url('+ guy.pic +')'">
          <div class="subtitle">{{guy.username}}</div>
        </div>
      </a>

    </div>
  </div>

  <div class="sometracks line" *ngIf="tracksRes.length">

    <div class="someTracksList smallList">
      <div class="track" *ngFor="let track of tracksRes">
        <div class="play" (click)="listen(track.link)">></div>
        <div class="rest">
          <div class="songTitle">{{track.title}}</div>
          <div class="time">{{track.duration * 1000 | date:'m:ss' }}</div>
          <div class="songInfo">{{track.artist.name}} - {{ track.album.title }}</div>
        </div>
        <div class="addSong" (click)="addSong(track.id)" *ngIf="isSubpar === true">+</div>
      </div>
    </div>
  </div>
</div>
